h2 {
    color: red;
}

.blue-text {
    color: blue;
}

h3 {
    font-size: 30px;
    font-family: Lobster, GENERIC_NAME
}

.image_size {
    width: 300px;
}

.thin-red-border {
    border-color: red;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.image_border {
    border-radius: 50%;
}

.green-background {
    background-color: green;
}

.blue-background {
    background-color: blue;
}

#grey-background {
    color: grey;
}

[type='radio']{
    margin: 20px 0px 20px 0px;
}

/* CREATE CSS VARIABLE */
.penguin {
--penguin-skin: gray;
}

/* INHERIT CSS VARIABLES */
:root {
    /* ROOT IS A PSUEDO CLASS SELECTOR, VARIABLE WOULD BE AVAILABLE GLOBALLY */
 }

 @media (max-width: 350px){
     :root {
         /* ADD GLOBAL VARIABLES HERE */
     }
 }