h2 {
    color: red;
}

.blue-text {
    color: blue;
}

h3 {
    font-size: 30px;
    font-family: Lobster, GENERIC_NAME
}

.image_size {
    width: 300px;
}

.thin-red-border {
    border-color: red;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.image_border {
    border-radius: 50%;
}

.green-background {
    background-color: green;
}

.blue-background {
    background-color: blue;
}

#grey-background {
    color: grey;
}

[type='radio']{
    margin: 20px 00px 50px 0px;
}